:root {
    --background: #232435;

    --link-color: #8f97b9;
    --link-color-hover: #8b8dff;
    --link: #6634c4;

    --text: #c9c9c9;

    --primary-accent: #aaaaaa;
    --secondary-accent: #ffffff;

    --text-subtittle: #dddddd;
}