@import url(./colors.css);

@font-face {
    font-family: 'LunaObscura';
    src: url('/fonts/HS_LunaObscura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_container {
    text-align: center;
}

.dev_text {
    font-family: 'LunaObscura', sans-serif;
    color: var(--secondary-accent);
}

.percentage {
    font-family: 'LunaObscura', sans-serif;
    font-size: 1.2rem;
    color: var(--secondary-accent);
    text-align: center;
    margin-top: 5px;
    letter-spacing: 2px;
    position: relative;
}

.percentage::before {
    content: '>';
    margin-right: 8px;
    color: var(--primary-accent);
    animation: blink 1s step-end infinite;
}

.percentage::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 30px;
    height: 1px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}