@import url(colors.css);

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-2);
}

/*Header*/
.header {
    border: 2px solid var(--border-1);
    border-radius: 3px;
    background-color: var(--background);
    max-width: 1400px;
    margin: 2rem auto;

    display: flex;
    align-items: center;
    overflow: hidden;

    transition: all 0.3s ease;
}

.header:hover {
    border: 2px solid var(--primary-accent)
}

.vector-1 {
    display: flex;
}

.rings {
    height: 50px;
    width: auto;
    display: block;

    transition: all 0.3s ease;

}

.rings:hover {
    transform: scale(1.05);
}