@import url(./colors.css);

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'yoster';
    src: url('/fonts/yoster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background);
}

.screen {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    min-height: 100vh;
}

.nav_pannel {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;

    background-color: aliceblue;
}

.nav_pannel h1 {
    text-align: center;
}

footer {
    padding-top: 100px;
}

footer p {
    color: var(--link-color);
    text-align: center;
    font-family: 'yoster', sans-serif;
}