---
// @ts-ignore
import Home from "../components/Home.astro";
//import Layout from "../layouts/layout.astro";
import Layout from "../layouts/layout.astro";
import DevelopmentPage from "../components/DevelopmentPage.astro";
---

<Layout title="AlejandroJ07">
  <main>
    <!--<Home />-->
    <DevelopmentPage />
  </main>
</Layout>
