---
// @ts-ignore
import Layout from "../layouts/layout.astro";
import "../styles/Home.css";
import DevelopmentPage from "../components/DevelopmentPage.astro";
---

<Layout title="AlejandroJ07">
  <main>
    <!--
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />

    <section class="main">
      <div class="left_panel">
        <h1>AlejandroJ07</h1>
        <p>Hola, mi nombre es Alejandro.</p>
      </div>
      <div class="right_panel">
        <h1>Skills</h1>
        <i class="devicon-astro-plain"></i>
      </div>
    </section>
    -->

    <DevelopmentPage />
  </main>
</Layout>
