---
// @ts-ignore
import DevelopmentPage from "../components/DevelopmentPage.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="AlejandroJ07">
  <main>
    <DevelopmentPage />
  </main>
</Layout>
