---
import "../styles/DevelopmentPage.css";
---

<section>
  <div class="text_container">
    <h1 class="dev_text">In Development</h1>

    <!-- Nueva barra de progreso -->
    <div class="progress_container">
      <div class="percentage">10%</div>
    </div>
  </div>
</section>
