---
import "../styles/DevelopmentPage.css";
---

<section>
  <div class="text_container">
    <h1 class="dev_text">In Development</h1>

    <!-- Nueva barra de progreso -->
    <div class="progress_container">
      <div class="progress_bar">
        <div class="progress_fill"></div>
      </div>

      <!-- Indicadores de segmentos -->
      <div class="progress_indicators">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
      </div>

      <!-- Porcentaje -->
      <div class="percentage">10%</div>
    </div>
  </div>
</section>
