---
import "../styles/Home.css";
---

<section class="main">
  <div class="left_panel">
    <h1>AlejandroJ07</h1>
    <p>"Texto"</p>
  </div>
  <div class="right_panel">
    <h1>Services</h1>
  </div>
</section>
