---
import "../styles/Home.css";
---

<section class="main">
  <div class="left_panel">
    <h1>AlejandroJ07</h1>
    <h3 class="text_1">Hola, mi nombre es Alejandro</h3>
    <p>Actualmente me encuentro estudiando Ingeniería Informática (5to )</p>
  </div>
  <div class="right_panel">
    <h1>Services</h1>
  </div>
</section>
